
body {
    font-family: Arial, sans-serif;
}


.navbar {
    border-bottom: 1px solid lightgray;
}

.navbar-brand {
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
    color: #000000; 
}

.btn-light {
    background-color: #ffffff;
    color: #000000;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}


.pagination {
    margin-top: 70px;
}


.img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.modal-body {
    padding: 1rem;
}

.btn-light.btn-sm {
    font-size: 0.875rem;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}


.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.dropdown-item.text-danger {
    color: #dc3545 !important;
}




